.root-content {
    margin-top: 60px;
    min-height: calc(100vh - 60px)
}

:root {
    --primary: #05A8AA;
    --shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, 
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}